
.submitButton{
background-color: #D2B48C;   
width: 50px;
height: 40px;
font-size: 22px;
// color: beige;
border-radius: 5px;
box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
opacity: 0.7;
margin-left: 10px;
font-size: 10px;
}

.submitButton:hover{
opacity:1;
}

#buttonsDiv{
//position: fixed;
text-align: right;
padding: 20px;
}

.main{
font-size: 22px;
display: flex;
 flex-wrap: wrap;
// text-align: center;
}

#homeButton{
background-color: #D2B48C;   
width: 40px;
height: 40px;
font-size: 22px;
color: beige;
border-radius: 5px;
box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
opacity: 0.7;
margin-left: 10px;
font-size: 10px;
}



#myText{
margin:0;
padding: 5px;
padding-top: 0;
width: 100%;
font-size: 30px;
}

